<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DeviceGuard2.Properties.Settings.TechSupportDBConnectionString"
            connectionString="Data Source=DESKTOP-N2NP29H\SQLEXPRESS;Initial Catalog=TechSupportDB;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>